body{

  background-image: url("world-map.jpg");
}

.input-area{

  position: absolute;
  left:45%;
  top:50%;
}

#exit{

  position: absolute;
  left:95%;
}

#find-me{

  font-size: 16px;
}

#find-me-2{

  font-size: 16px;
}
