.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;


}
.flex-container > div {
  background-color:  green;
  color:indigo;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
}

.input-area{
  position: absolute;
  top: 80%;
  left: 40%;

}

#exit{

  position: absolute;
  left:95%;
}
