body{

  background-color: teal;
}

#exit{

  position: absolute;
  left:95%;
}
@keyframes hover {

  0%{
    transform: translateX(10000px) translateY(0px) rotate(60deg);

  }
  10%{
    transform: translateX(100px)  translateY(100px) rotate(60deg);

  }
  30%{
    transform: translateX(40px) translateY(900px) rotate(60deg);

  }
  32%{
    transform: translateX(230px) translateY(230px) rotate(60deg);

  }
  62%{
    transform: translateX(600px) translateY(600px) rotate(0deg);

  }
  72%{
    transform: translateX(900px)  translateY(300px) rotate(360deg);

  }
  75%{
    transform: translateX(450px) translateY(40px) rotate(60deg);

  }
  95%{
    transform: translateX(-210px);

  }


}

@keyframes glide {

  0%{
    transform: translateX(540px) translateY(0px) rotate(60deg);

  }
  10%{
    transform: translateX(100px)  translateY(100px) rotate(60deg);

  }
  30%{
    transform: translateX(40px) translateY(900px) rotate(60deg);

  }
  32%{
    transform: translateX(230px) translateY(230px) rotate(60deg);

  }
  62%{
    transform: translateX(600px) translateY(600px) rotate(0deg);

  }
  72%{
    transform: translateX(650px)  translateY(300px) rotate(360deg);

  }
  75%{
    transform: translateX(450px) translateY(40px) rotate(60deg);

  }
  95%{
    transform: translateX(0px) translateY(40px) ;

  }


}





#emoji-1{

  position: relative;
  animation-name: hover;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  font-size: 24px;
}

#emoji-2{

  position: relative;
  animation-name: glide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  font-size: 24px;
}
