

.input-area{

  position: absolute;
  left:45%;
  top:50%;
}

#exit{

  position: absolute;
  left:95%;
}

#page-1{


  position:absolute;
  top:50%;
  font-size: 16px;
}
#page-2{


  position:absolute;
  left:49%;
  font-size: 16px;
}
#page-3{


  position:absolute;
  top:50%;
  left: 97%;
  font-size: 16px;
}

#image{
position:absolute;
top:38%;
left:45%;

}
